<div class="task-container" *ngIf="tasks">
  <h2 class="task-heading">My Tasks</h2>
  <ul class="task-list">
    <li class="task-item" *ngFor="let task of tasks">
      <div class="task-info">
        <div class="task-name">{{ task.name }}</div>
        <div class="task-description">{{ task.description }}</div>
        <div class="task-due-date">Due: {{ task.dueDate | date }}</div>
      </div>
      <div class="task-actions">
        <button class="task-button update-button" (click)="openTaskForm(task)">Update</button>
        <button class="task-button delete-button" (click)="deleteTask(task)">Delete</button>
      </div>
    </li>
  </ul>
</div>
<button class="add-task-button" (click)="openTaskForm()">Add Task</button>
